<section class="category-fit">
    <!-- <a href="search.html" class="filterButton">Filter</a> -->
    <h2>These people share your interests</h2>
    <div>
        <!--  Same interests as logged in user      -->
        <% for (let i = 0; i < dataEqual.length; i++) { %>
        <article>
            <a href="/<%= dataEqual[i].profileId %>">
                <img src="uploads/<%= dataEqual[i].profilePicture %>" alt="Profile photo">
                <h4>
                    <%= dataEqual[i].firstname %> • <%= dataEqual[i].age %>
                </h4>
                <p>
                    <%= dataEqual[i].location %>
                </p>
            </a>
        </article>
        <% } %>
    </div>

</section>