<section class="category-fit">
    <h2><%= dataFilter.length %> results for <%= activity %></h2>
    <!-- this is data that is defined in the index.js data structure -->
    <div>
        <!--       Category 1   Results        -->
        <% for (let i = 0; i < dataFilter.length; i++) { %>
        <article>
            <a href="/<%= dataFilter[i].profileId %>">
                <img src="uploads/<%= dataFilter[i].profilePicture %>" alt="Profile photo">
                <h4>
                    <%= dataFilter[i].firstname %> • <%= dataFilter[i].age %>
                </h4>
                <p>
                    <%= dataFilter[i].location %>
                </p>
            </a>
        </article>
        <% } %>
    </div>
</section>