<%- include('includes/head.ejs'); %>

<body>
    <%- include('includes/header.ejs'); %>
    <main>
        <section class="profilePage">
            <article>
                <img src="uploads/<%= data.profilePicture %>" alt="Profile photo">
            </article>
            <article class="personalInformation">
                <h1><%= data.firstname %> <%= data.lastname %></h1>
                <div>
                    <dl>
                        <dt>Profile name </dt>
                        <dd><%= data.profileId %></dd>
                        <dt>Firstname</dt>
                        <dd><%= data.firstname %></dd>
                        <dt>Lastname </dt>
                        <dd><%= data.lastname %></dd>
                        <dt>Age</dt>
                        <dd><%= data.age %></dd>
                        <dt>Location</dt>
                        <dd><%= data.location %></dd>
                        <% for (let i = 0; i < data.interests.length; i++) { %>
                        <dt>Interest <%= [i +1] %></dt>

                        <dd><%= data.interests[i] %></dd>
                        <% } %>
                        <dt>About me</dt>
                        <dd><%= data.description %></dd>
                    </dl>
                </div>
            </article>

        </section>
        <%- include('includes/add-interests.ejs'); %>
    </main>
    <%- include('includes/footer.ejs'); %>
    <%- include('includes/scripts.ejs'); %>
</body>


<!-- 
    RESOURCE: Dummy user profile pictures
zcool.com.cn. (n.d.). Cartoon characters [Illustratie]. 
Retrieved from https://all-free-download.com/free-vector/download/cartoon-characters-01-vector_181114.html -->