

<%- include('includes/head.ejs'); %>
<body>
    <%- include('includes/header.ejs'); %>
    <main>
        <%- include('includes/filter.ejs'); %>
        <%- include('includes/section_result.ejs'); %>
        <%- include('includes/section_boardgames.ejs'); %>
        <%- include('includes/section_comics.ejs'); %>
    </main>
    <%- include('includes/footer.ejs'); %>
    <%- include('includes/scripts.ejs'); %>
</body>


